@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
#principais:hover{
  background-color:#2323ff;
  color: white;
  cursor: pointer;
}
#principais label:hover{
  cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
  }
#navbar-links{ 
  background-color: #080F2D
}
.navbar-menu {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.navbar-menu a :hover{
  color: #090F29
}
#fotoPerfil{
  border-radius: 60%; 
  width: 500px; 
  height: auto;
}
#HeroNav{
  background-color: #090F29;
  border-end-start-radius:5%;
  border-end-end-radius:50%;
}
#heroBackGround{
  background-color: #2323ff;
  border-radius: 10%;
}
#heroFilhoRelatos{
  border-end-start-radius:20%;
  border-end-end-radius:20%; 
  background-color: #2323ff;
}
#heroPaiRelatos{
  border-end-start-radius:5%;
  border-end-end-radius:5%; 
  background-color: #090F29;
}
.sobreMim{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.casesSucesso{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.relatos{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.image img{
  max-width: 100%;
}
#idApresentacao{
  margin-top: 2rem;
}
.card-SobreMim{
  height: 650px;
}
.card-case{
  height: 650px;
}
.card-relato{
  height: 280px;
}
.media img{
  border-radius: 10%;
}
@media screen and (max-width: 1180px) {
  #idApresentacao{ 
    margin-top: -3rem;
  }
  .card-relato{
    height: auto;
  }
  .card-SobreMim{
    height: auto;
  }
  .card-case{
    height: auto;
  }
}
@media screen and (min-width: 1500px) {
  .card-SobreMim{
    height: 660px;
  }
  .card-case{
    height: 660px;
  }
  .card-relato{
    height: 230px;
  }
}
@media screen and (min-width: 1920px) {
  .card-SobreMim{
    height: 750px;
  }
  .card-case{
    height: 750px;
  }
  .card-relato{
    height: 200px;
  }
}